active_workflow.json
{"updatedAt":"2026-01-25T15:22:55.636Z","createdAt":"2026-01-25T12:19:49.453Z","id":"WiSSG67QrVOWzGQI","name":"LiveTrackings - V24 MULTILINGUAL (FR, ES, DE, IT, NL)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"name":"Click to Seed DB","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"manual_trigger"},{"parameters":{"operation":"executeQuery","query":"DROP TABLE IF EXISTS offers;\n\nCREATE TABLE offers (\n    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),\n    partner_name TEXT NOT NULL,\n    affiliate_link TEXT NOT NULL,\n    primary_keyword TEXT NOT NULL,\n    target_country TEXT NOT NULL,\n    subdirectory TEXT NOT NULL,\n    language_code TEXT NOT NULL DEFAULT 'en',\n    slug TEXT,\n    status TEXT NOT NULL DEFAULT 'pending'\n);\n\nINSERT INTO offers (partner_name, affiliate_link, primary_keyword, target_country, subdirectory, status, language_code) VALUES\n-- English (EN)\n('Compensair', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fcompensair.com&campaign_id=86', 'flight delay compensation', 'Global', 'claims', 'pending', 'en'),\n('Compensair', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fcompensair.com&campaign_id=86', 'airline refund help', 'Global', 'claims', 'pending', 'en'),\n('Airalo eSIM', 'https://tp.media/r?marker=605475&trs=488170&p=8310&u=https%3A%2F%2Fairalo.com&campaign_id=541', 'esim for international travel', 'Global', 'claims', 'pending', 'en'),\n('Tiqets', 'https://tp.media/r?marker=605475&trs=488170&p=2074&u=https%3A%2F%2Ftiqets.com&campaign_id=89', 'museum tickets online', 'Global', 'claims', 'pending', 'en'),\n('Aviasales', 'https://tp.media/r?marker=605475&trs=488170&p=4114&u=https%3A%2F%2Faviasales.com&campaign_id=100', 'cheap flights scanner', 'Global', 'claims', 'pending', 'en'),\n('NordVPN', 'https://tp.media/click?shmarker=605475&promo_id=8986&source_type=link&type=click&campaign_id=631&trs=488170', 'best travel vpn', 'Global', 'claims', 'pending', 'en'),\n\n-- French (FR)\n('Compensair', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fcompensair.com&campaign_id=86', 'indemnisation vol retard├⌐', 'France', 'claims', 'pending', 'fr'),\n('AirHelp', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fairhelp.com&campaign_id=86', 'r├⌐clamation vol annul├⌐', 'France', 'claims', 'pending', 'fr'),\n('Airalo eSIM', 'https://tp.media/r?marker=605475&trs=488170&p=8310&u=https%3A%2F%2Fairalo.com&campaign_id=541', 'esim voyage international', 'Global', 'claims', 'pending', 'fr'),\n('Tiqets', 'https://tp.media/r?marker=605475&trs=488170&p=2074&u=https%3A%2F%2Ftiqets.com&campaign_id=89', 'billets mus├⌐es et attractions', 'France', 'claims', 'pending', 'fr'),\n\n-- Spanish (ES)\n('Compensair', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fcompensair.com&campaign_id=86', 'compensaci├│n vuelo retrasado', 'Spain', 'claims', 'pending', 'es'),\n('AirHelp', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fairhelp.com&campaign_id=86', 'reclamaci├│n cancelaci├│n vuelo', 'Spain', 'claims', 'pending', 'es'),\n('Airalo eSIM', 'https://tp.media/r?marker=605475&trs=488170&p=8310&u=https%3A%2F%2Fairalo.com&campaign_id=541', 'esim para viajar', 'Global', 'claims', 'pending', 'es'),\n('Tiqets', 'https://tp.media/r?marker=605475&trs=488170&p=2074&u=https%3A%2F%2Ftiqets.com&campaign_id=89', 'entradas museos y atracciones', 'Spain', 'claims', 'pending', 'es'),\n\n-- German (DE)\n('Compensair', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fcompensair.com&campaign_id=86', 'flugversp├ñtung entsch├ñdigung', 'Germany', 'claims', 'pending', 'de'),\n('AirHelp', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fairhelp.com&campaign_id=86', 'flugannullierung rechte', 'Germany', 'claims', 'pending', 'de'),\n('Airalo eSIM', 'https://tp.media/r?marker=605475&trs=488170&p=8310&u=https%3A%2F%2Fairalo.com&campaign_id=541', 'esim f├╝r reisen', 'Global', 'claims', 'pending', 'de'),\n('Tiqets', 'https://tp.media/r?marker=605475&trs=488170&p=2074&u=https%3A%2F%2Ftiqets.com&campaign_id=89', 'museen und sehensw├╝rdigkeiten tickets', 'Germany', 'claims', 'pending', 'de'),\n\n-- Italian (IT)\n('Compensair', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fcompensair.com&campaign_id=86', 'risarcimento ritardo volo', 'Italy', 'claims', 'pending', 'it'),\n('AirHelp', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fairhelp.com&campaign_id=86', 'rimborso volo cancellato', 'Italy', 'claims', 'pending', 'it'),\n('Airalo eSIM', 'https://tp.media/r?marker=605475&trs=488170&p=8310&u=https%3A%2F%2Fairalo.com&campaign_id=541', 'esim per viaggiare', 'Global', 'claims', 'pending', 'it'),\n('Tiqets', 'https://tp.media/r?marker=605475&trs=488170&p=2074&u=https%3A%2F%2Ftiqets.com&campaign_id=89', 'biglietti musei e attrazioni', 'Italy', 'claims', 'pending', 'it'),\n\n-- Dutch (NL)\n('Compensair', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fcompensair.com&campaign_id=86', 'vluchtvertraging vergoeding', 'Netherlands', 'claims', 'pending', 'nl'),\n('AirHelp', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fairhelp.com&campaign_id=86', 'vluchtannulering rechten', 'Netherlands', 'claims', 'pending', 'nl'),\n('Airalo eSIM', 'https://tp.media/r?marker=605475&trs=488170&p=8310&u=https%3A%2F%2Fairalo.com&campaign_id=541', 'esim voor reizen', 'Global', 'claims', 'pending', 'nl'),\n('Tiqets', 'https://tp.media/r?marker=605475&trs=488170&p=2074&u=https%3A%2F%2Ftiqets.com&campaign_id=89', 'tickets musea en attracties', 'Netherlands', 'claims', 'pending', 'nl');","options":{}},"name":"Restore Database","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[250,0],"id":"restore_db","credentials":{"postgres":{"id":"LYfmDpK4VdjkKcLe","name":"Neon Database"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"name":"2-Minute Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,300],"id":"schedule_trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM offers WHERE status = 'pending' LIMIT 1;","options":{}},"name":"Fetch Pending Offers","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[250,300],"id":"fetch_offers","credentials":{"postgres":{"id":"LYfmDpK4VdjkKcLe","name":"Neon Database"}}},{"parameters":{"method":"POST","url":"http://157.180.81.63/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer triprt-master-key34"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"qwen-turbo\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a native {{ $node['Fetch Pending Offers'].json.language_code }} SEO Content Specialist. Output raw HTML only. NO backticks. NO ``` blocks. NO preamble. Start with the title or first paragraph. Your output must be in {{ $node['Fetch Pending Offers'].json.language_code }}.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"WRITE: A premium 800-word SEO guide about {{ $node['Fetch Pending Offers'].json.primary_keyword }} in {{ $node['Fetch Pending Offers'].json.language_code }}. MANDATORY: Link {{ $node['Fetch Pending Offers'].json.affiliate_link }} in the first paragraph. FORMAT: Use <h2> for main sections, <h3> for subsections, <p> for body, <ul> for lists. TONE: High-authority. DO NOT use ``` blocks.\"\n    }\n  ],\n  \"max_tokens\": 2500,\n  \"temperature\": 0.6\n}","options":{"timeout":120000}},"name":"AI Content Writer","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,300],"id":"ai_writer","onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"quality_check","leftValue":"={{ $json.choices ? $json.choices[0].message.content.length : 0 }}","rightValue":100,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"name":"Quality Gate","type":"n8n-nodes-base.if","typeVersion":2,"position":[750,300],"id":"quality_gate"},{"parameters":{"method":"POST","url":"https://livetrackings.com/api/save-page","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Publish-Secret","value":"livetrackings-pseo-2024"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filename\": \"{{ $node['Fetch Pending Offers'].json.start_case_primary_keyword || $node['Fetch Pending Offers'].json.primary_keyword.toLowerCase().replace(/ /g, '-') }}.html\",\n  \"language\": \"{{ $node['Fetch Pending Offers'].json.language_code }}\",\n  \"subdirectory\": \"{{ $node['Fetch Pending Offers'].json.subdirectory }}\",\n  \"affiliate_link\": \"{{ $node['Fetch Pending Offers'].json.affiliate_link }}\",\n  \"html\": {{ JSON.stringify($json.choices[0].message.content) }}\n}","options":{"timeout":30000}},"name":"Publish to Replit","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,200],"id":"publish_replit","onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE offers SET status = 'published' WHERE id = '{{ $node['Fetch Pending Offers'].json.id }}';","options":{}},"name":"Mark as Published","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1250,200],"id":"mark_published","credentials":{"postgres":{"id":"LYfmDpK4VdjkKcLe","name":"Neon Database"}}},{"parameters":{"amount":10,"unit":"seconds"},"name":"Rate Limit Delay","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1000,400],"id":"rate_limit","webhookId":"delay-webhook-v24-multilingual"}],"connections":{"Click to Seed DB":{"main":[[{"node":"Restore Database","type":"main","index":0}]]},"2-Minute Schedule":{"main":[[{"node":"Fetch Pending Offers","type":"main","index":0}]]},"Fetch Pending Offers":{"main":[[{"node":"AI Content Writer","type":"main","index":0}]]},"AI Content Writer":{"main":[[{"node":"Quality Gate","type":"main","index":0}]]},"Quality Gate":{"main":[[{"node":"Publish to Replit","type":"main","index":0},{"node":"Rate Limit Delay","type":"main","index":0}]]},"Publish to Replit":{"main":[[{"node":"Mark as Published","type":"main","index":0}]]},"Mark as Published":{"main":[[{"node":"Rate Limit Delay","type":"main","index":0}]]},"Rate Limit Delay":{"main":[[{"node":"Fetch Pending Offers","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"timeSavedMode":"fixed"},"staticData":{"node:2-Minute Schedule":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"8ed12fed-107d-4f06-a7bb-bacfea18a4c1","activeVersionId":"8ed12fed-107d-4f06-a7bb-bacfea18a4c1","versionCounter":34,"triggerCount":1,"shared":[{"updatedAt":"2026-01-25T12:19:49.455Z","createdAt":"2026-01-25T12:19:49.455Z","role":"workflow:owner","workflowId":"WiSSG67QrVOWzGQI","projectId":"hx1ffTpTlal3XTuC","project":{"updatedAt":"2026-01-25T12:17:01.059Z","createdAt":"2026-01-25T12:16:36.310Z","id":"hx1ffTpTlal3XTuC","name":"suhas rg <suhas883@outlook.com>","type":"personal","icon":null,"description":null,"creatorId":"92c98913-7380-40eb-b791-339cf3cba170","projectRelations":[{"updatedAt":"2026-01-25T12:16:36.311Z","createdAt":"2026-01-25T12:16:36.311Z","userId":"92c98913-7380-40eb-b791-339cf3cba170","projectId":"hx1ffTpTlal3XTuC","user":{"updatedAt":"2026-01-25T14:55:08.862Z","createdAt":"2026-01-25T12:16:35.802Z","id":"92c98913-7380-40eb-b791-339cf3cba170","email":"suhas883@outlook.com","firstName":"suhas","lastName":"rg","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-25T12:17:13.342Z","personalization_survey_n8n_version":"2.3.4","companyType":"personal","reportedSource":"event"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"WiSSG67QrVOWzGQI","userActivatedAt":1769352897021},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-25","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-25T15:22:55.637Z","createdAt":"2026-01-25T15:22:55.637Z","versionId":"8ed12fed-107d-4f06-a7bb-bacfea18a4c1","workflowId":"WiSSG67QrVOWzGQI","nodes":[{"parameters":{},"name":"Click to Seed DB","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"manual_trigger"},{"parameters":{"operation":"executeQuery","query":"DROP TABLE IF EXISTS offers;\n\nCREATE TABLE offers (\n    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),\n    partner_name TEXT NOT NULL,\n    affiliate_link TEXT NOT NULL,\n    primary_keyword TEXT NOT NULL,\n    target_country TEXT NOT NULL,\n    subdirectory TEXT NOT NULL,\n    language_code TEXT NOT NULL DEFAULT 'en',\n    slug TEXT,\n    status TEXT NOT NULL DEFAULT 'pending'\n);\n\nINSERT INTO offers (partner_name, affiliate_link, primary_keyword, target_country, subdirectory, status, language_code) VALUES\n-- English (EN)\n('Compensair', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fcompensair.com&campaign_id=86', 'flight delay compensation', 'Global', 'claims', 'pending', 'en'),\n('Compensair', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fcompensair.com&campaign_id=86', 'airline refund help', 'Global', 'claims', 'pending', 'en'),\n('Airalo eSIM', 'https://tp.media/r?marker=605475&trs=488170&p=8310&u=https%3A%2F%2Fairalo.com&campaign_id=541', 'esim for international travel', 'Global', 'claims', 'pending', 'en'),\n('Tiqets', 'https://tp.media/r?marker=605475&trs=488170&p=2074&u=https%3A%2F%2Ftiqets.com&campaign_id=89', 'museum tickets online', 'Global', 'claims', 'pending', 'en'),\n('Aviasales', 'https://tp.media/r?marker=605475&trs=488170&p=4114&u=https%3A%2F%2Faviasales.com&campaign_id=100', 'cheap flights scanner', 'Global', 'claims', 'pending', 'en'),\n('NordVPN', 'https://tp.media/click?shmarker=605475&promo_id=8986&source_type=link&type=click&campaign_id=631&trs=488170', 'best travel vpn', 'Global', 'claims', 'pending', 'en'),\n\n-- French (FR)\n('Compensair', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fcompensair.com&campaign_id=86', 'indemnisation vol retard├⌐', 'France', 'claims', 'pending', 'fr'),\n('AirHelp', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fairhelp.com&campaign_id=86', 'r├⌐clamation vol annul├⌐', 'France', 'claims', 'pending', 'fr'),\n('Airalo eSIM', 'https://tp.media/r?marker=605475&trs=488170&p=8310&u=https%3A%2F%2Fairalo.com&campaign_id=541', 'esim voyage international', 'Global', 'claims', 'pending', 'fr'),\n('Tiqets', 'https://tp.media/r?marker=605475&trs=488170&p=2074&u=https%3A%2F%2Ftiqets.com&campaign_id=89', 'billets mus├⌐es et attractions', 'France', 'claims', 'pending', 'fr'),\n\n-- Spanish (ES)\n('Compensair', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fcompensair.com&campaign_id=86', 'compensaci├│n vuelo retrasado', 'Spain', 'claims', 'pending', 'es'),\n('AirHelp', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fairhelp.com&campaign_id=86', 'reclamaci├│n cancelaci├│n vuelo', 'Spain', 'claims', 'pending', 'es'),\n('Airalo eSIM', 'https://tp.media/r?marker=605475&trs=488170&p=8310&u=https%3A%2F%2Fairalo.com&campaign_id=541', 'esim para viajar', 'Global', 'claims', 'pending', 'es'),\n('Tiqets', 'https://tp.media/r?marker=605475&trs=488170&p=2074&u=https%3A%2F%2Ftiqets.com&campaign_id=89', 'entradas museos y atracciones', 'Spain', 'claims', 'pending', 'es'),\n\n-- German (DE)\n('Compensair', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fcompensair.com&campaign_id=86', 'flugversp├ñtung entsch├ñdigung', 'Germany', 'claims', 'pending', 'de'),\n('AirHelp', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fairhelp.com&campaign_id=86', 'flugannullierung rechte', 'Germany', 'claims', 'pending', 'de'),\n('Airalo eSIM', 'https://tp.media/r?marker=605475&trs=488170&p=8310&u=https%3A%2F%2Fairalo.com&campaign_id=541', 'esim f├╝r reisen', 'Global', 'claims', 'pending', 'de'),\n('Tiqets', 'https://tp.media/r?marker=605475&trs=488170&p=2074&u=https%3A%2F%2Ftiqets.com&campaign_id=89', 'museen und sehensw├╝rdigkeiten tickets', 'Germany', 'claims', 'pending', 'de'),\n\n-- Italian (IT)\n('Compensair', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fcompensair.com&campaign_id=86', 'risarcimento ritardo volo', 'Italy', 'claims', 'pending', 'it'),\n('AirHelp', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fairhelp.com&campaign_id=86', 'rimborso volo cancellato', 'Italy', 'claims', 'pending', 'it'),\n('Airalo eSIM', 'https://tp.media/r?marker=605475&trs=488170&p=8310&u=https%3A%2F%2Fairalo.com&campaign_id=541', 'esim per viaggiare', 'Global', 'claims', 'pending', 'it'),\n('Tiqets', 'https://tp.media/r?marker=605475&trs=488170&p=2074&u=https%3A%2F%2Ftiqets.com&campaign_id=89', 'biglietti musei e attrazioni', 'Italy', 'claims', 'pending', 'it'),\n\n-- Dutch (NL)\n('Compensair', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fcompensair.com&campaign_id=86', 'vluchtvertraging vergoeding', 'Netherlands', 'claims', 'pending', 'nl'),\n('AirHelp', 'https://tp.media/r?marker=605475&trs=488170&p=4129&u=https%3A%2F%2Fairhelp.com&campaign_id=86', 'vluchtannulering rechten', 'Netherlands', 'claims', 'pending', 'nl'),\n('Airalo eSIM', 'https://tp.media/r?marker=605475&trs=488170&p=8310&u=https%3A%2F%2Fairalo.com&campaign_id=541', 'esim voor reizen', 'Global', 'claims', 'pending', 'nl'),\n('Tiqets', 'https://tp.media/r?marker=605475&trs=488170&p=2074&u=https%3A%2F%2Ftiqets.com&campaign_id=89', 'tickets musea en attracties', 'Netherlands', 'claims', 'pending', 'nl');","options":{}},"name":"Restore Database","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[250,0],"id":"restore_db","credentials":{"postgres":{"id":"LYfmDpK4VdjkKcLe","name":"Neon Database"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"name":"2-Minute Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,300],"id":"schedule_trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM offers WHERE status = 'pending' LIMIT 1;","options":{}},"name":"Fetch Pending Offers","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[250,300],"id":"fetch_offers","credentials":{"postgres":{"id":"LYfmDpK4VdjkKcLe","name":"Neon Database"}}},{"parameters":{"method":"POST","url":"http://157.180.81.63/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer triprt-master-key34"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"qwen-turbo\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a native {{ $node['Fetch Pending Offers'].json.language_code }} SEO Content Specialist. Output raw HTML only. NO backticks. NO ``` blocks. NO preamble. Start with the title or first paragraph. Your output must be in {{ $node['Fetch Pending Offers'].json.language_code }}.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"WRITE: A premium 800-word SEO guide about {{ $node['Fetch Pending Offers'].json.primary_keyword }} in {{ $node['Fetch Pending Offers'].json.language_code }}. MANDATORY: Link {{ $node['Fetch Pending Offers'].json.affiliate_link }} in the first paragraph. FORMAT: Use <h2> for main sections, <h3> for subsections, <p> for body, <ul> for lists. TONE: High-authority. DO NOT use ``` blocks.\"\n    }\n  ],\n  \"max_tokens\": 2500,\n  \"temperature\": 0.6\n}","options":{"timeout":120000}},"name":"AI Content Writer","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,300],"id":"ai_writer","onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"quality_check","leftValue":"={{ $json.choices ? $json.choices[0].message.content.length : 0 }}","rightValue":100,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"name":"Quality Gate","type":"n8n-nodes-base.if","typeVersion":2,"position":[750,300],"id":"quality_gate"},{"parameters":{"method":"POST","url":"https://livetrackings.com/api/save-page","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Publish-Secret","value":"livetrackings-pseo-2024"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filename\": \"{{ $node['Fetch Pending Offers'].json.start_case_primary_keyword || $node['Fetch Pending Offers'].json.primary_keyword.toLowerCase().replace(/ /g, '-') }}.html\",\n  \"language\": \"{{ $node['Fetch Pending Offers'].json.language_code }}\",\n  \"subdirectory\": \"{{ $node['Fetch Pending Offers'].json.subdirectory }}\",\n  \"affiliate_link\": \"{{ $node['Fetch Pending Offers'].json.affiliate_link }}\",\n  \"html\": {{ JSON.stringify($json.choices[0].message.content) }}\n}","options":{"timeout":30000}},"name":"Publish to Replit","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,200],"id":"publish_replit","onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE offers SET status = 'published' WHERE id = '{{ $node['Fetch Pending Offers'].json.id }}';","options":{}},"name":"Mark as Published","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1250,200],"id":"mark_published","credentials":{"postgres":{"id":"LYfmDpK4VdjkKcLe","name":"Neon Database"}}},{"parameters":{"amount":10,"unit":"seconds"},"name":"Rate Limit Delay","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1000,400],"id":"rate_limit","webhookId":"delay-webhook-v24-multilingual"}],"connections":{"Click to Seed DB":{"main":[[{"node":"Restore Database","type":"main","index":0}]]},"2-Minute Schedule":{"main":[[{"node":"Fetch Pending Offers","type":"main","index":0}]]},"Fetch Pending Offers":{"main":[[{"node":"AI Content Writer","type":"main","index":0}]]},"AI Content Writer":{"main":[[{"node":"Quality Gate","type":"main","index":0}]]},"Quality Gate":{"main":[[{"node":"Publish to Replit","type":"main","index":0},{"node":"Rate Limit Delay","type":"main","index":0}]]},"Publish to Replit":{"main":[[{"node":"Mark as Published","type":"main","index":0}]]},"Mark as Published":{"main":[[{"node":"Rate Limit Delay","type":"main","index":0}]]},"Rate Limit Delay":{"main":[[{"node":"Fetch Pending Offers","type":"main","index":0}]]}},"authors":"suhas rg","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-25T15:22:55.720Z","id":11,"workflowId":"WiSSG67QrVOWzGQI","versionId":"8ed12fed-107d-4f06-a7bb-bacfea18a4c1","event":"activated","userId":"92c98913-7380-40eb-b791-339cf3cba170"},{"createdAt":"2026-01-25T15:25:26.892Z","id":13,"workflowId":"WiSSG67QrVOWzGQI","versionId":"8ed12fed-107d-4f06-a7bb-bacfea18a4c1","event":"activated","userId":"92c98913-7380-40eb-b791-339cf3cba170"},{"createdAt":"2026-01-25T15:25:24.533Z","id":12,"workflowId":"WiSSG67QrVOWzGQI","versionId":"8ed12fed-107d-4f06-a7bb-bacfea18a4c1","event":"deactivated","userId":"92c98913-7380-40eb-b791-339cf3cba170"}]}}
