n8n_pseo_complete.json
{
    "name": "LiveTrackings Empire Engine (V2.3 Stable)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutes": 60
                        }
                    ]
                }
            },
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                200,
                300
            ],
            "id": "trigger"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM offers WHERE status = 'pending' LIMIT 1;",
                "options": {}
            },
            "name": "Fetch Pending Offers",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                400,
                300
            ],
            "id": "fetch_offers",
            "credentials": {
                "postgres": {
                    "id": "neon-db",
                    "name": "Neon Database"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const offer = $input.item.json;\nconst languages = ['en', 'es', 'fr', 'de', 'it'];\n\nreturn languages.map(lang => ({\n  json: {\n    ...offer,\n    target_language: lang\n  }\n}));"
            },
            "name": "Language Multiplier",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                600,
                300
            ],
            "id": "multiplier"
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "name": "SplitInBatches",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                800,
                300
            ],
            "id": "split_batches"
        },
        {
            "parameters": {
                "amount": 5,
                "unit": "seconds"
            },
            "name": "Wait (Rate Limit)",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1000,
                300
            ],
            "id": "wait_node",
            "webhookId": "ac83386a-722a-4122-8352-875881023192"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer YOUR_OPENROUTER_API_KEY"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"google/gemini-2.0-flash-exp:free\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a world-class travel journalist.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a 2000-word comprehensive guide about {{ $json.primary_keyword }} in {{ $json.target_country }}. The guide must be written in language code: {{ $json.target_language }}. Include specific sections on costs, tips, and avoiding scams.\"\n    }\n  ]\n}",
                "options": {}
            },
            "name": "Gemini AI Writer",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1200,
                300
            ],
            "id": "gemini_ai"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://livetrackings.com/api/publish",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"api_secret\": \"livetrackings-pseo-2024\",\n  \"slug\": \"{{ $json.slug }}-{{ $json.target_language }}\",\n  \"language\": \"{{ $json.target_language }}\",\n  \"subdirectory\": \"{{ $json.subdirectory }}\",\n  \"content\": \"{{ $json.choices[0].message.content.replace(/\"/g, '\\\\\"') }}\",\n  \"affiliate_link\": \"{{ $json.affiliate_link }}\"\n}",
                "options": {}
            },
            "name": "Publish to Replit",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1400,
                300
            ],
            "id": "publish_replit"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE offers SET status = 'published' WHERE id = '{{ $('Fetch Pending Offers').item.json.id }}';",
                "options": {}
            },
            "name": "Mark as Published",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                1600,
                300
            ],
            "id": "mark_published",
            "credentials": {
                "postgres": {
                    "id": "neon-db",
                    "name": "Neon Database"
                }
            }
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Fetch Pending Offers",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Pending Offers": {
            "main": [
                [
                    {
                        "node": "Language Multiplier",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Language Multiplier": {
            "main": [
                [
                    {
                        "node": "SplitInBatches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SplitInBatches": {
            "main": [
                [
                    {
                        "node": "Wait (Rate Limit)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait (Rate Limit)": {
            "main": [
                [
                    {
                        "node": "Gemini AI Writer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini AI Writer": {
            "main": [
                [
                    {
                        "node": "Publish to Replit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Publish to Replit": {
            "main": [
                [
                    {
                        "node": "SplitInBatches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}

