n8n_gemini_force_v1.json
{"name":"LiveTrackings MASTER (V14 - GEMINI FORCE)","nodes":[{"parameters":{},"name":"Click to Seed DB","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"manual_trigger"},{"parameters":{"operation":"executeQuery","query":"DROP TABLE IF EXISTS offers;\n\nCREATE TABLE offers (\n    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),\n    partner_name TEXT NOT NULL,\n    affiliate_link TEXT NOT NULL,\n    primary_keyword TEXT NOT NULL,\n    target_country TEXT NOT NULL,\n    subdirectory TEXT NOT NULL,\n    language_code TEXT NOT NULL DEFAULT \u0027en\u0027,\n    slug TEXT,\n    status TEXT NOT NULL DEFAULT \u0027pending\u0027\n);\n\nINSERT INTO offers (partner_name, affiliate_link, primary_keyword, subdirectory, target_country, status) VALUES\n(\u0027Compensair\u0027, \u0027https://www.compensair.com/?tp_source=605475\u0027, \u0027flight compensation\u0027, \u0027travel\u0027, \u0027Global\u0027, \u0027pending\u0027),\n(\u0027Airalo\u0027, \u0027https://airalo.tp.st/ABCdef12\u0027, \u0027esim travel data\u0027, \u0027travel\u0027, \u0027Global\u0027, \u0027pending\u0027),\n(\u0027Aviasales\u0027, \u0027https://aviasales.tp.st/GHIjkl34\u0027, \u0027cheap flights\u0027, \u0027travel\u0027, \u0027Global\u0027, \u0027pending\u0027),\n(\u0027Ekta\u0027, \u0027https://ekta.tp.st/MNOpqr56\u0027, \u0027travel insurance\u0027, \u0027insurance\u0027, \u0027Global\u0027, \u0027pending\u0027),\n(\u0027Viator\u0027, \u0027https://viator.tp.st/STUvwx78\u0027, \u0027tours and activities\u0027, \u0027travel\u0027, \u0027Global\u0027, \u0027pending\u0027);","options":{}},"name":"Restore Database","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[250,0],"id":"restore_db","credentials":{"postgres":{"id":"4833rxpFPAptNJEn","name":"Neon Database"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":1}]}},"name":"Hourly Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,300],"id":"schedule_trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM offers WHERE status = \u0027pending\u0027 LIMIT 1;","options":{}},"name":"Fetch Pending Offers","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[250,300],"id":"fetch_offers","credentials":{"postgres":{"id":"4833rxpFPAptNJEn","name":"Neon Database"}}},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"google/gemini-2.0-flash-001\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a travel journalist. Write a 500-word guide about {{ $json.primary_keyword }} for travelers. Include practical tips.\\n\\nInclude this affiliate link once: {{ $json.affiliate_link }}\\n\\nFormat with HTML tags like \u003ch2\u003e, \u003cp\u003e, \u003cul\u003e, \u003cli\u003e.\"\n    }\n  ],\n  \"max_tokens\": 2000,\n  \"temperature\": 0.7\n}","options":{"timeout":120000}},"name":"Gemini AI Writer","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,300],"id":"gemini_ai","onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"https://livetrackings.com/api/save-page","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Publish-Secret","value":"livetrackings-pseo-2024"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filename\": \"{{ $node[\u0027Fetch Pending Offers\u0027].json.partner_name.toLowerCase().replace(/ /g, \u0027-\u0027) }}-en-v1\",\n  \"language\": \"en\",\n  \"subdirectory\": \"{{ $node[\u0027Fetch Pending Offers\u0027].json.subdirectory }}\",\n  \"html\": {{ JSON.stringify($json.choices[0].message.content) }}\n}","options":{"timeout":30000}},"name":"Publish to Replit","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[750,300],"id":"publish_replit","onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE offers SET status = \u0027published\u0027 WHERE id = \u0027{{ $node[\u0027Fetch Pending Offers\u0027].json.id }}\u0027;","options":{}},"name":"Mark as Published","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1000,300],"id":"mark_published","credentials":{"postgres":{"id":"4833rxpFPAptNJEn","name":"Neon Database"}}}],"connections":{"Click to Seed DB":{"main":[[{"node":"Restore Database","type":"main","index":0}]]},"Hourly Schedule":{"main":[[{"node":"Fetch Pending Offers","type":"main","index":0}]]},"Fetch Pending Offers":{"main":[[{"node":"Gemini AI Writer","type":"main","index":0}]]},"Gemini AI Writer":{"main":[[{"node":"Publish to Replit","type":"main","index":0}]]},"Publish to Replit":{"main":[[{"node":"Mark as Published","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}
