workflow_update.json
{"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"name":"LiveTrackings - V24 MULTILINGUAL (FR, ES, DE, IT, NL)","connections":{"Click to Seed DB":{"main":[[{"node":"Restore Database","type":"main","index":0}]]},"2-Minute Schedule":{"main":[[{"node":"Fetch Pending Offers","type":"main","index":0}]]},"Fetch Pending Offers":{"main":[[{"node":"AI Content Writer","type":"main","index":0}]]},"AI Content Writer":{"main":[[{"node":"Quality Gate","type":"main","index":0}]]},"Quality Gate":{"main":[[{"node":"Publish to Replit","type":"main","index":0},{"node":"Rate Limit Delay","type":"main","index":0}]]},"Publish to Replit":{"main":[[{"node":"Mark as Published","type":"main","index":0}]]},"Mark as Published":{"main":[[{"node":"Rate Limit Delay","type":"main","index":0}]]},"Rate Limit Delay":{"main":[[{"node":"Fetch Pending Offers","type":"main","index":0}]]}},"active":true,"nodes":[{"parameters":{},"name":"Click to Seed DB","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"manual_trigger"},{"parameters":{"operation":"executeQuery","query":"DROP TABLE IF EXISTS offers;\n\nCREATE TABLE offers (\n    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),\n    partner_name TEXT NOT NULL,\n    affiliate_link TEXT NOT NULL,\n    primary_keyword TEXT NOT NULL,\n    target_country TEXT NOT NULL,\n    subdirectory TEXT NOT NULL,\n    language_code TEXT NOT NULL DEFAULT \u0027en\u0027,\n    slug TEXT,\n    status TEXT NOT NULL DEFAULT \u0027pending\u0027\n);\n\nINSERT INTO offers (partner_name, affiliate_link, primary_keyword, target_country, subdirectory, status, language_code) VALUES\n-- English (EN)\n(\u0027Compensair\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=4129\u0026u=https%3A%2F%2Fcompensair.com\u0026campaign_id=86\u0027, \u0027flight delay compensation\u0027, \u0027Global\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027en\u0027),\n(\u0027Compensair\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=4129\u0026u=https%3A%2F%2Fcompensair.com\u0026campaign_id=86\u0027, \u0027airline refund help\u0027, \u0027Global\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027en\u0027),\n(\u0027Airalo eSIM\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=8310\u0026u=https%3A%2F%2Fairalo.com\u0026campaign_id=541\u0027, \u0027esim for international travel\u0027, \u0027Global\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027en\u0027),\n(\u0027Tiqets\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=2074\u0026u=https%3A%2F%2Ftiqets.com\u0026campaign_id=89\u0027, \u0027museum tickets online\u0027, \u0027Global\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027en\u0027),\n(\u0027Aviasales\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=4114\u0026u=https%3A%2F%2Faviasales.com\u0026campaign_id=100\u0027, \u0027cheap flights scanner\u0027, \u0027Global\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027en\u0027),\n(\u0027NordVPN\u0027, \u0027https://tp.media/click?shmarker=605475\u0026promo_id=8986\u0026source_type=link\u0026type=click\u0026campaign_id=631\u0026trs=488170\u0027, \u0027best travel vpn\u0027, \u0027Global\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027en\u0027),\n\n-- French (FR)\n(\u0027Compensair\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=4129\u0026u=https%3A%2F%2Fcompensair.com\u0026campaign_id=86\u0027, \u0027indemnisation vol retard+¬\u0027, \u0027France\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027fr\u0027),\n(\u0027AirHelp\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=4129\u0026u=https%3A%2F%2Fairhelp.com\u0026campaign_id=86\u0027, \u0027r+¬clamation vol annul+¬\u0027, \u0027France\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027fr\u0027),\n(\u0027Airalo eSIM\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=8310\u0026u=https%3A%2F%2Fairalo.com\u0026campaign_id=541\u0027, \u0027esim voyage international\u0027, \u0027Global\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027fr\u0027),\n(\u0027Tiqets\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=2074\u0026u=https%3A%2F%2Ftiqets.com\u0026campaign_id=89\u0027, \u0027billets mus+¬es et attractions\u0027, \u0027France\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027fr\u0027),\n\n-- Spanish (ES)\n(\u0027Compensair\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=4129\u0026u=https%3A%2F%2Fcompensair.com\u0026campaign_id=86\u0027, \u0027compensaci+¦n vuelo retrasado\u0027, \u0027Spain\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027es\u0027),\n(\u0027AirHelp\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=4129\u0026u=https%3A%2F%2Fairhelp.com\u0026campaign_id=86\u0027, \u0027reclamaci+¦n cancelaci+¦n vuelo\u0027, \u0027Spain\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027es\u0027),\n(\u0027Airalo eSIM\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=8310\u0026u=https%3A%2F%2Fairalo.com\u0026campaign_id=541\u0027, \u0027esim para viajar\u0027, \u0027Global\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027es\u0027),\n(\u0027Tiqets\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=2074\u0026u=https%3A%2F%2Ftiqets.com\u0026campaign_id=89\u0027, \u0027entradas museos y atracciones\u0027, \u0027Spain\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027es\u0027),\n\n-- German (DE)\n(\u0027Compensair\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=4129\u0026u=https%3A%2F%2Fcompensair.com\u0026campaign_id=86\u0027, \u0027flugversp+ñtung entsch+ñdigung\u0027, \u0027Germany\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027de\u0027),\n(\u0027AirHelp\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=4129\u0026u=https%3A%2F%2Fairhelp.com\u0026campaign_id=86\u0027, \u0027flugannullierung rechte\u0027, \u0027Germany\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027de\u0027),\n(\u0027Airalo eSIM\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=8310\u0026u=https%3A%2F%2Fairalo.com\u0026campaign_id=541\u0027, \u0027esim f++r reisen\u0027, \u0027Global\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027de\u0027),\n(\u0027Tiqets\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=2074\u0026u=https%3A%2F%2Ftiqets.com\u0026campaign_id=89\u0027, \u0027museen und sehensw++rdigkeiten tickets\u0027, \u0027Germany\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027de\u0027),\n\n-- Italian (IT)\n(\u0027Compensair\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=4129\u0026u=https%3A%2F%2Fcompensair.com\u0026campaign_id=86\u0027, \u0027risarcimento ritardo volo\u0027, \u0027Italy\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027it\u0027),\n(\u0027AirHelp\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=4129\u0026u=https%3A%2F%2Fairhelp.com\u0026campaign_id=86\u0027, \u0027rimborso volo cancellato\u0027, \u0027Italy\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027it\u0027),\n(\u0027Airalo eSIM\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=8310\u0026u=https%3A%2F%2Fairalo.com\u0026campaign_id=541\u0027, \u0027esim per viaggiare\u0027, \u0027Global\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027it\u0027),\n(\u0027Tiqets\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=2074\u0026u=https%3A%2F%2Ftiqets.com\u0026campaign_id=89\u0027, \u0027biglietti musei e attrazioni\u0027, \u0027Italy\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027it\u0027),\n\n-- Dutch (NL)\n(\u0027Compensair\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=4129\u0026u=https%3A%2F%2Fcompensair.com\u0026campaign_id=86\u0027, \u0027vluchtvertraging vergoeding\u0027, \u0027Netherlands\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027nl\u0027),\n(\u0027AirHelp\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=4129\u0026u=https%3A%2F%2Fairhelp.com\u0026campaign_id=86\u0027, \u0027vluchtannulering rechten\u0027, \u0027Netherlands\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027nl\u0027),\n(\u0027Airalo eSIM\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=8310\u0026u=https%3A%2F%2Fairalo.com\u0026campaign_id=541\u0027, \u0027esim voor reizen\u0027, \u0027Global\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027nl\u0027),\n(\u0027Tiqets\u0027, \u0027https://tp.media/r?marker=605475\u0026trs=488170\u0026p=2074\u0026u=https%3A%2F%2Ftiqets.com\u0026campaign_id=89\u0027, \u0027tickets musea en attracties\u0027, \u0027Netherlands\u0027, \u0027claims\u0027, \u0027pending\u0027, \u0027nl\u0027);","options":{}},"name":"Restore Database","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[250,0],"id":"restore_db","credentials":{"postgres":{"id":"OCI runtime exec failed: exec failed: unable to start container process: exec: \"sqlite3\": executable file not found in $PATH: unknown","name":"Neon Database"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"name":"2-Minute Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,300],"id":"schedule_trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM offers WHERE status = \u0027pending\u0027 LIMIT 1;","options":{}},"name":"Fetch Pending Offers","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[250,300],"id":"fetch_offers","credentials":{"postgres":{"id":"OCI runtime exec failed: exec failed: unable to start container process: exec: \"sqlite3\": executable file not found in $PATH: unknown","name":"Neon Database"}}},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_OPENROUTER_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"openai/gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a native {{ $node[\u0027Fetch Pending Offers\u0027].json.language_code }} SEO Content Specialist. Output raw HTML only. NO backticks. NO ``` blocks. NO preamble. Start with the title or first paragraph. Your output must be in {{ $node[\u0027Fetch Pending Offers\u0027].json.language_code }}.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"WRITE: A premium 800-word SEO guide about {{ $node[\u0027Fetch Pending Offers\u0027].json.primary_keyword }} in {{ $node[\u0027Fetch Pending Offers\u0027].json.language_code }}. MANDATORY: Link {{ $node[\u0027Fetch Pending Offers\u0027].json.affiliate_link }} in the first paragraph. FORMAT: Use \u003ch2\u003e for main sections, \u003ch3\u003e for subsections, \u003cp\u003e for body, \u003cul\u003e for lists. TONE: High-authority. DO NOT use ``` blocks.\"\n    }\n  ],\n  \"max_tokens\": 2500,\n  \"temperature\": 0.6\n}","options":{"timeout":120000}},"name":"AI Content Writer","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,300],"id":"ai_writer","onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"quality_check","leftValue":"={{ $json.choices ? $json.choices[0].message.content.length : 0 }}","rightValue":100,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"name":"Quality Gate","type":"n8n-nodes-base.if","typeVersion":2,"position":[750,300],"id":"quality_gate"},{"parameters":{"method":"POST","url":"https://livetrackings.com/api/save-page","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Publish-Secret","value":"livetrackings-pseo-2024"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filename\": \"{{ $node[\u0027Fetch Pending Offers\u0027].json.start_case_primary_keyword || $node[\u0027Fetch Pending Offers\u0027].json.primary_keyword.toLowerCase().replace(/ /g, \u0027-\u0027) }}.html\",\n  \"language\": \"{{ $node[\u0027Fetch Pending Offers\u0027].json.language_code }}\",\n  \"subdirectory\": \"{{ $node[\u0027Fetch Pending Offers\u0027].json.subdirectory }}\",\n  \"affiliate_link\": \"{{ $node[\u0027Fetch Pending Offers\u0027].json.affiliate_link }}\",\n  \"html\": {{ JSON.stringify($json.choices[0].message.content) }}\n}","options":{"timeout":30000}},"name":"Publish to Replit","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,200],"id":"publish_replit","onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE offers SET status = \u0027published\u0027 WHERE id = \u0027{{ $node[\u0027Fetch Pending Offers\u0027].json.id }}\u0027;","options":{}},"name":"Mark as Published","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1250,200],"id":"mark_published","credentials":{"postgres":{"id":"OCI runtime exec failed: exec failed: unable to start container process: exec: \"sqlite3\": executable file not found in $PATH: unknown","name":"Neon Database"}}},{"parameters":{"amount":10,"unit":"seconds"},"name":"Rate Limit Delay","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1000,400],"id":"rate_limit","webhookId":"delay-webhook-v24-multilingual"}]}


